* {
  font-family: "Open Sans", sans-serif;
}

:root {
  --primary-color: #fd6e0a;
  --white-color: #fff;
  --header-bg: #fff8f3;
  --dark-1: #181818;
  --dark-2: #474747;
  --dark-3: #757575;
}
.center {
  text-align: center;
}
/* Navigation Styles */
.logo {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
.highlight {
  color: var(--primary-color);
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 51px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: var(--dark-2);
  font-size: 20px;
  font-weight: 400;
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: var(--white-color);
  cursor: pointer;
  font-weight: 700;
}
.btn-outlined {
  background-color: var(--header-bg);
  color: #fd6e0a;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  padding: 15px 23px;
}
.hire-btn {
  padding: 15px 35px;
}

/* Banner styles */
.header {
  background-color: #fff8f3;
  background: url("/images/header_bg.png") no-repeat;
  background-position: bottom right;
}

.developer {
  background: url("/images/developer.png") no-repeat;
  background-position: top left;
}
.information {
  width: 400px;
  margin: 0 auto;
}
.information h3 {
  color: var(--dark-2);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.information h1 {
  color: var(--dark-1);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
}

.information p {
  color: var(--dark-3);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.download-cv {
  padding: 17px 19px;
}

.phone-icon,
.dl-icon {
  width: 24px;
  height: 24px;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner img {
  width: 584px;
  height: 676px;
}

/* Main section Styles */

/* About Start */
main {
  margin-top: 100px;
}
.about {
  padding: 90px 157px;
  text-align: center;
  width: 45%;
  background-color: var(--header-bg);
  margin: 100px auto;
  border-radius: 10px;
}
.expertise h3,
.about h3 {
  font-size: 30px;
}
.info p,
.about p {
  color: var(--dark-3);
}
.info h3 {
  font-size: 14px;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* Expertise Section: Start */
.expertise {
  width: 45%;
  text-align: center;
  margin: 0 auto;
}

.about p,
.expertise p {
  color: var(--dark-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.skills {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.skill {
  width: 267px;
  height: 377px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill h4 {
  color: var(--dark-1);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 33px;
}
.skill p {
  color: var(--dark-3);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding: 0px 33px 0px 33px;
}
.skill img {
  padding-top: 30px;
  padding-left: 33px;
}

/* Resume styles */
.resume {
  margin-top: 100px;
}
.resume h3 {
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.resume h4 {
  color: var(--dark-2);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.resume-content {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.education h6,
.experience h6 {
  color: var(--dark-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.education h5,
.experience h5 {
  color: var(--dark-2);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.5rem;
}

.education p,
.experience p {
  color: var(--dark-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

hr {
  background-color: #d1d1d1;
  color: #d1d1d1;
  border-bottom: none;
  border-top: none;
  border-left: 0;
  border-right: 0;
  height: 2px;
}
.dl {
  margin-top: 1rem;
}

/* footer */
.bg {
  background-color: var(--header-bg);
}
.submit {
  padding: 18px 39px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 130px 0;
  margin-top: 100px;
}

.footer p {
  color: var(--dark-2);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.footer h3 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.socials {
  width: 450px;
}

.contact textarea {
  border: none;
  resize: none;
  margin-bottom: 10px;
  width: 461px;
  padding: 18px 30px;
}
.contact input {
  border: none;
  margin-bottom: 10px;
  width: 461px;
  /* height: 64px; */
  padding: 18px 30px;
}
