* {
  font-family: "Open Sans", sans-serif;
}

:root {
  --primary-color: #fd6e0a;
  --white-color: #fff;
  --header-bg: #fff8f3;
  --dark-1: #181818;
  --dark-2: #474747;
  --dark-3: #757575;
}

/* Navigation Styles */
.logo {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
.highlight {
  color: var(--primary-color);
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 51px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: var(--dark-2);
  font-size: 20px;
  font-weight: 400;
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: var(--white-color);
  cursor: pointer;
  font-weight: 700;
}
.btn-outlined {
  background-color: var(--header-bg);
  color: #fd6e0a;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  padding: 15px 23px;
}
.hire-btn {
  padding: 15px 35px;
}

/* Banner styles */
.header {
  background-color: #fff8f3;
  background: url("/images/header_bg.png") no-repeat;
  background-position: bottom right;
}

.developer {
  background: url("/images/developer.png") no-repeat;
  background-position: top left;
}
.information {
  width: 400px;
  margin: 0 auto;
}
.information h3 {
  color: var(--dark-2);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.information h1 {
  color: var(--dark-1);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
}

.information p {
  color: var(--dark-3);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.download-cv {
  padding: 17px 19px;
}

.phone-icon,
.dl-icon {
  width: 24px;
  height: 24px;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner img {
  width: 584px;
  height: 676px;
}

/* Main section Styles */

/* About Start */
main {
  margin-top: 100px;
}
.about {
  padding: 90px 157px;
  text-align: center;
  width: 45%;
  background-color: var(--header-bg);
  margin: 0 auto;
  border-radius: 10px;
}
.about h3 {
  font-size: 30px;
}
.info p,
.about p {
  color: var(--dark-3);
}
.info h3 {
  font-size: 16px;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
